<!-- Author: Suhaib Qaiser www.suhaibqaiser.com -->
<html ng-app="myApp">
<head>
<title>AngularJS Demo Sample3</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<style>
div {
	padding-top: 10px;
}
</style>
<script type="text/ng-template" id="nestedexample3.html">
 <div>
Nested Input: <input id="text2" ng-model="$parent.textValue">
</div>
</script>
</head>
<body>
	<h1>AngularJS Sample Program 3</h1>
	<div ng-controller="TextCtrl">
		Input: <input id="text1" ng-model="textValue"> <br />
		<nested-input></nested-input>
		<br /> Output: <label id="label1">{{textValue}}</label>
	</div>
	<script src="script3.js"></script>
<body>
</html>